body{
    font-family: sans-serif;
    background-color: whitesmoke;
}
h1{
    display: block;
    margin: 50px auto;
    color: rgb(87, 87, 87);
    font-size: 50px;
    text-align: center;
}
h2{
    color: rgb(87, 87, 87);
}
.listaTarefas, .tarefas, .filtro{
    display: block;
    margin:auto;
    text-align: center;
    width: 60%;
}
.inserido {
    display: block;
    margin:auto;
    text-align: center;
    width: 60px;
    border: 1px solid;
    margin-bottom: 10px;
}
input{
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius: 3px;
    margin-bottom:10px;
}
button{
    background-color: rgb(48, 48, 240);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
    margin: 3px;
}
button:hover{
    background-color: rgb(34, 34, 168);
    cursor: pointer;
}

